html, body{
    background-color: #dae0e6;
}

.main-container{
    padding-top: 4rem;
    max-width: 800px;
}
h3{
    margin-top: 3rem;
    margin-bottom: 1rem;
}
h6{
    margin-top: 0.5rem;
}
audio{
    width: 100%;
}
.header-bild-content{
    width: 100%;
    -webkit-box-shadow: 2px 16px 32px 0px rgba(49,53,59,0.43);
    -moz-box-shadow: 2px 16px 32px 0px rgba(49,53,59,0.43);
    box-shadow: 2px 16px 32px 0px rgba(49,53,59,0.43);
}
.site-title{
    margin-top: 3rem;
}
.footer-link{
    font-size: 14pt;
    padding: 1rem 0;
}

.footer{
    position: relative;
    width: 100%;
}
.impressum-link{
    float: left;
}

a{
    text-decoration: none;
}

.datenschutz-link{
    text-align: right;
    float: right;
}